@import url('https://fonts.googleapis.com/css2?family=Playfair:wght@300&family=Roboto:ital,wght@0,400;1,300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 20rem;
    background-color: #ecb991;
    border-radius: 10px;
}
.timer-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.button-wrapper {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: center;
    align-items: center;
    border: 3px sandybrown;
    border-radius: 8px;
}
.button-wrapper button {
    margin-left: 20px;
    font-size: 16px;
    padding: 16px 14px;
    transition: all 200ms ease-in-out;
}
.button-wrapper button:hover {
    background-color: #f3c570;
    color: #f1d49a;
}
.timer-wrapper li {
    padding: 1rem 1rem;
    font-size: 20px;
    text-align: left;
    margin-left: 16px;
}
h1 {
    text-align: center;
}